.ourblog {
  margin: 100px 0 100px 0;
  &__title {
    text-align: center;
    h2 {
      font-size: 36px;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      margin-bottom: 16px;
    }
    p {
      width: 540px;
      margin: 0 auto;
      font-size: 18px;
    }
  }
  &__card_wrapper {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -26px;
  }
  &__card {
    width: 100%;
    margin: 0 26px;
  }
  &_picture {
    width: 100%;
  }
  &__activities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 275px;
    font-size: 12px;
    margin-top: 5px;
    p {
      color: #999999;
      font-style: normal;
      font-weight: normal;
      margin: 0;
    }
    a {
      color: #2296f9;
      font-style: normal;
      font-weight: normal;
      margin: 0;
    }
  }
  &_stick {
    img {
      height: 12px;
      width: 100%;
    }
  }
  &_text {
    h3 {
      text-align: left;
      text-transform: none;
      font-weight: bold;
      font-size: 18px;
    }
    p {
      color: #666666;
      font-size: 14px;
    }
  }
}
